details summary::-webkit-details-marker {
    display: none
}

details summary {
    list-style: none;
    outline: none;
    color: #3f5c97;
    transition: 0.2s ease-out;

    &:active,
    &:focus {
        color: #4587c5;
    }
}

details {
    display: block;
    position: relative;
    text-align: left;

    &[open] {

        & summary::after { content: "Закрыть"; }
    }
}

summary {
    text-align: left;
    cursor: pointer;

    & b {
        display: block;
    }

    &::after {
        content: "Подробнее";
        text-decoration: underline;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}