.header {
  border-bottom: 1px solid #e3e3e3;
  position: fixed;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  top: 0px;
  background-color: #fff;
  z-index: 1;
}

.header__block-logo {
  margin-bottom: 15px/2;
}

.header__logo-promo {
  margin: 0;
  font-size: 18px;
  line-height: 1.1;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;

  & strong {
    display: block;
    color: #4C5499;
  }

  & span {
    display: block;
    padding-top: 3px;
    font-weight: 400;
    font-family: "HelveticaNeueCyr-Light";
  }
}

.header__block-contact {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .header__link {
    text-decoration: none;
  }
}

.menu {
  margin: 0;
  padding: 0;
}

.menu__list {
  position: relative;
  list-style: none;
  margin: 0;
  margin-left: 40px;
  padding: 0;
  line-height: 20px;

  &::before {
    content: '';
    display: block;
    background-color: #4e5197;
    height: 66px;
    width: 1px;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
  }

  & a {
    font-size: 14px;
    text-decoration: none;
    color: #3f5c97;
    letter-spacing: 1px;

    &:hover {
      color: #4e5197;
      text-decoration: underline;
    }
  }
}


@media (min-width: @min-md) {
  .header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__block-logo {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  .header__logo {
    display: block;
    position: relative;
    padding-right: 40px;

    &::after {
      content: '';
      display: block;
      background-color: #4e5197;
      height: 66px;
      width: 1px;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }

    & svg {
      display: block;
      width: 55px;
      height: 55px;

      @media (min-width: @min-lg) {
        width: 65px;
        height: 65px;
      }
    }
  }

  .header__logo-promo {
    text-align: left;
  }

  .header__link {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: @min-lg) {
  .header__logo-promo {
    font-size: 24px;

    & span {
      font-size: 18px;
    }
  }
}