.slider-section {

    & h2 {
        line-height: 1.2;

        @media (min-width: @min-md) {
            font-size: 30px;
        }

        @media (min-width: @min-lg) {
            font-size: 40px;
        }
    }

    & footer {
        text-align: center;
    }

    & summary {
        display: block;
        width: 100%;

        &::after {
            bottom: -1em;
        }
    }
}

.icons-online {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & img {
        display: block;
        margin: 10px;
        height: 30px;
        width: auto;

        @media (min-width: @min-md) {
            margin: 0 10px;
            height: 40px;
        }

        @media (min-width: @min-lg) {
            height: 60px;
        }
    }
}